spring:
  application:
    name: ai-resume-portfolio-builder

  
  datasource:
    url: jdbc:postgresql://dpg-d45nr9juibrs73fa8r6g-a.oregon-postgres.render.com:5432/resume_eufd
    username: resume_eufd_user
    password: F7Ep2sZZmSnjn0V4XsYNg4B1Kfm0sPZy
    driver-class-name: org.postgresql.Driver
  
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    user:
      name: admin
      password: admin

server:
  port: 8080

jwt:
  secret: mySecretKey123456789012345678901234567890
  expiration: 86400000 # 24 hours
  refresh-expiration: 604800000 # 7 days

cors:
  allowed-origins: http://localhost:3000
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: "*"
  allow-credentials: true

logging:
  level:
    com.resumebuilder: DEBUG
    org.springframework.security: DEBUG
